[Unit]
Description=TWF Models API
After=network.target

[Service]
User=root
WorkingDirectory=/opt/twf_models
Environment="PYTHONPATH=/opt/twf_models/backend"
ExecStart=/opt/twf_models/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
